.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: rgb(0, 0, 0) rgb(255, 255, 255);
}

body {
    font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #000;
  overflow-x: hidden;
}

a {
	text-decoration: none;
}

#container {
	margin: 0 auto;
	display: flex; flex-direction: column;
	max-width: 100%;
}

.quatro-can-1 {
    object-fit: cover; width: 100%; height: auto;
}


/* 1. --- Header --- */


li, a {
    font-size: 1.875rem; text-decoration: none;
    color: rgb(255, 255, 255);
}
  
#Nav-con, #mainNav-con {
    position: sticky; top: 0; z-index: 34;
}

#main-header1, #main-header2 {
    display: flex; justify-content: space-between; align-items: center;
    padding: 18px 5%;
    background-color: rgb(0, 0, 0);
}
 
  
#Logo, #Logo2 {
    cursor: pointer;
    height: 35px;
    transition: all 0.2s ease;
}

#Logo:hover {
    transform: scale(1.1);
}
#Logo2:hover {
    transform: scale(1.1);
}
  
.nav {
    list-style: none;
    font-weight: lighter;
    color: #fff;
}
  
.nav li {
    display: inline-block;
    padding: 0 20px;
}
  
.nav li a {
    font-size: 22px;
    transition: all 0.3s ease;
}
  
.nav li a:hover {
    transform: scale(1.2);
    color: rgb(90, 90, 90);
}
  
button, .cta {
    color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
    border: none; border-radius: 30px;
    font-family: 'Raleway', sans-serif; font-size: 14px; font-weight:bold;
    padding: 9px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

  
button:hover, .cta:hover {
    background-color: rgb(49, 49, 49);
    transform: scale(1.1);
    color: #fff;
}

.quatro-can-1 {
    margin-bottom: 40px;
}

/* 2. --- card section --- */

.cards {
    display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;
    width: 100%;
    margin:  0px auto 50px auto;
    background-color: #ffffff;

}

#about-img, #contact-img{
    width: 50%; height: auto;
    padding: 20px 110px 40px 110px;
    transition: all ease .3s;
}

#about-img:hover, #contact-img:hover {
    transform: scale(1.2);
}

.cards section {
    margin: 50px auto;
    width: 420px;
    background-color: #333;
}

.cards h2 {
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    margin: 80px 0 35px 0;
}

.cards p {
    color: #ffffff;
    line-height: 1.4;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    margin-right: 10px;
    margin-left: 10px;

}

.link {
    display: block;
    width: 120px;
    text-align: center;
    padding: 12px 20px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 15px; font-weight: bold;
    margin: 40px auto 45px;
}

.link:hover {
    background-color: rgb(49, 49, 49);
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 2px #000000);}



/* 3. --- Video --- */

.videoCon {
    padding: 80px;
    background-color: #000000;
}

#video {
    display: flex;
    align-items: center;
    justify-content: center;
}

video:hover {
    cursor: pointer;
}
video {
     width: 70%; height: auto;
     border: 2px solid white;
}



/* --- 4. Images sec. --- */

.com1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 50px auto 50px 0;
}

.page1-img1 {
    justify-content: center;
    width: 575px;
    height: 325px;
    margin: 50px 22px 22px 0px;
    border: 7px solid #000000;
    transition: all .2s ease-in-out;
}

.page1-img2 {
    width: 375px;
    height: 325px;
    margin: 50px 0px 0px 22px;
    border: 7px solid #000000;
    transition: all .2s ease-in-out;
}

.page1-img2:hover {
    border: 7px solid #000000;
    border-left: 30px solid #000;

}

.page1-img1:hover {
    border: 7px solid #000000;
    border-right: 30px solid #000;

}
 

.com1-text h3 {
    align-items: center;
    text-align: center;
    margin: 22px 0px 19px 22px;
    letter-spacing: -1px;
    font-size: 35px;
    font-weight: bold;
    color: #000000;	
}

.com1-text p, .com2-text p {
    justify-content: center;
    text-align: center;
    font-weight: lighter;
    font-size: 24px;
    margin: 25px 110px 50px 110px;
}

.morebtn1, .ctbtn {
    display: block;
    width: 80px;
    text-align: center;
    padding: 12px 20px;
    margin: 20px auto 60px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: none; border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Raleway', sans-serif; font-weight: bold; font-size: 15px;
}

.morebtn2 {
    margin: 20px auto 40px;
}
.morebtn1:hover, .morebtn2:hover {
    background-color: rgb(49, 49, 49);
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 2px #000000);
}


/* commercial #2 */

.com2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.page1-img4 {
    display: block;
    width: 575px;
    height: 325px;
    margin: 50px 0 0 50px;
    border: 7px solid #000000;
    transition: all .2s ease-in-out;
}

.page1-img3 {
    width: 375px;
    height: 325px;
    margin: 50px auto;
    border: 7px solid #000000;
    transition: all .2s ease-in-out;
}

.page1-img4:hover {
    border: 7px solid #000000;
    border-left: 30px solid #000;

}

.page1-img3:hover {
    border: 7px solid #000000;
    border-right: 30px solid #000;

}

.com2-text h3 {
    align-items: center;
    text-align: center;
    margin: 22px 0px 19px 22px;
    letter-spacing: -1px;
    font-size: 35px;
    font-weight: bold;
    color: #000000;	
}






/*  5.  Banner */

.page1-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px auto 50px 0;
    background-color: #000000;
    padding: 60px 0 60px 0;
}

.page1-banner h3 {
    text-align: center;    
    letter-spacing: 10px;
    word-spacing: 10px;
    color: white;
    font-size: 24px; font-weight: lighter;
}

.page1-banner h4 {
    text-align: center;
    margin-left: 50px;
    letter-spacing: 6px;
    color: white;
    font-size: 40px;
    transition: all .2s ease-in-out;
}

.page1-banner h4:hover {
    transform: scale(1.3);
    margin-left: 60px;
    font-weight: bolder;
    cursor: pointer;
}

/*  6. footer  */

#footer {
    width: 100%;
    margin: 0px auto;
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: row;
    justify-content: space-evenly;
}

#footerLogo {
    display: block;
    margin: 40px auto 0 auto;
    width: 270px;
    padding: 45px 10px 10px 10px;
    transition: all .15s ease-in-out;
}

#footerLogo:hover {
    -webkit-transform: scale(1.03, 1.03);
    -moz-transform: scale(1.03, 1.03);
    cursor: pointer;
}

footer h3 {
    text-align: justify;
    font-size: 32px;
    padding-bottom: 60px;
    color: #fff;
    text-align: center;
}

#footer p {
    text-align: center;
    line-height: 1.8;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight:lighter;
    color: #fff;
}

#social {
    position: relative;
    margin: 76px auto 100px auto;
    left: 18%;
}

#social ul li {
    display: inline;
    margin-right: 20px;
}

#instagram {
    margin-left: 13px;
    display: block;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 100px;
    padding: 8px 21px 8px 21px;
    display: inline;
    text-shadow:  
    0 0 59px rgb(255, 255, 255);
    animation: animate2 1s linear infinite;
}

#twitter {
    display: block;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 100px;
    padding: 8px 18px 8px 18px;
    display: inline;
    transition: all .2s ease;
    text-shadow:  
    0 0 59px rgb(255, 255, 255);
    animation: animate2 1s linear infinite;
}

#facebook {
    display: block;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 100px;
    padding: 8px 18px 8px 18px;
    display: inline;
    transition: all .2s ease;
    text-shadow:  
    0 0 59px rgb(255, 255, 255);
    animation: animate2 1s linear infinite;
}

#twitter:hover {
    background-color: #05bff3a1;
    color: #000;
}

#facebook:hover {
    background-color: #0048e47b;
    color: #000;
}

#instagram:hover {
    background-color: #ff34a084;
    color: #000;
}

@keyframes animate2 {
    0% 
    {filter: hue-rotate(0);}
    50%
    {filter: hue-rotate(100deg);}
    100%
    {filter: hue-rotate(0);}
}


/*  footer form   */

#contact-form {
    margin-top: 60px;
}

#contact-form ul {
    list-style: none;
}

#contact-form h2 {
    font-size: 20px;
    text-align: center;
    margin: 35px 0 40px 0;
    color: #fff;
}

textarea {
	resize: none;
}

#fname,#email {
    width: 370px;
	margin-bottom: 18px;
	font-size: 14px;		
	border: 2px solid #000000;
	padding: 20px 20px;
}

#order{
    width: 370px;
	margin-bottom: 18px;
	font-size: 14px;		
	border: 2px solid #000000;
	padding: 20px 20px;
    height: 50px;
}
#fname:hover, #order:hover, #email:hover {
	border: 2px solid #999999;
}

#submitBtn {
    display: block;
    width: 130px;
    padding: 9px 20px;
    color: black; background-color: #fff;
    border: none; border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Raleway', sans-serif; font-weight: bold; font-size: 14px;
    margin: 20px auto 50px;
}

#submitBtn:hover {
    background-color: rgb(49, 49, 49);
    color: white;
    transform: scale(1.1);
}


/* copyright banner */

#copyright {
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 0 10px 0;
    font-size: 14px;
    font-weight: lighter;
}

#copyright h2 {
    text-align: center
}



/* --- About PAGE#2 --- */

/* 2.1 --- hero ---   */

#heroCon {
    margin-bottom: 100px;
}

#heroCon-abt {
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 4.125rem;
}

/* 2.2 --- about container ---  */

.aboutText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 70px;
}

#aboutCon {
    text-align: center;
}

.aboutText h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

#aboutCon p {
    padding: 0 110px 0 110px;
}


/* 2.3 --- cans js section ---  */

.grid-can {
    display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;
 }

 #canGroup1, #canGroup2 {
    display: flex; flex-direction: row; justify-content: center;
 }

 #canDiv, #canDiv2, #canDiv3, #canDiv4{
    display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;
}

.grid-can img {
    width: 120px; height: auto;
    margin: 20px auto 20px; padding: 0 50px 0 50px;
    transition: all .5s ease-out;
    cursor: pointer;
}

.grid-can #canDiv img:hover, .grid-can #canDiv3 img:hover {
    transform: scale(1.4) rotate(-4deg);
}

.grid-can #canDiv2 img:hover, .grid-can #canDiv4 img:hover {
    transform: scale(1.4) rotate(4deg);
    
}

/*x  OVERLAY & buttons  x*/

#overlay, #overlay2, #overlay3, #overlay4 {
    display: flex; flex-direction: column; justify-content: center; text-align: center; 
    margin: auto;
    position: fixed;
    background: #ffffff; border: 5px solid black;
    width: 85%; height: 85%;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1000;   
    display: none;
  }

 .canInfo-con p {
    padding: 40px 30px 0 30px;
    text-align: start;
    font-size: 20px; font-weight: lighter;
 }

.canInfo-con h3 {
    padding: 20px 30px 0 30px;
    font-size: 28px; font-weight: bold;
}

#closeBtn, #closeBtn2, #closeBtn3, #closeBtn4 {
    border-radius: 30px; border: 1px solid black; padding: 5px;
    color: #000;
    cursor: pointer;
    position: absolute; top: 20px; left: 90%;
}

#closeBtn:hover, #closeBtn2:hover, #closeBtn3:hover, #closeBtn4:hover {
    transform: scale(1.1) rotate(22deg);
  }



/* 2.4 --- find us at container ---  */

#aboutCon h2, .saleSec h2, .packSec h2 {
    margin: 0px 0 30px 0;
    font-size: 44px;
    font-weight: 600;
}

#aboutCon p, .saleSec p {
    font-size: 22px;
    font-weight: lighter;
}

.saleSec {
    text-align: center;
}
  
.saleSec .heading_container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 100px;
}
  
.saleSec .saleCon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
.saleSec .saleCon .box {
    margin:  45px;
    min-width: 200px;
    width: 250px;
}
  
.saleSec .saleCon .box.b-2, .saleSec .saleCon .box.b-5{
    margin-top: 60px;
}
  
.saleSec .saleCon .box.b-3, .saleSec .saleCon .box.b-6 {
    margin-top: 100px;
}


/* 2.5 --- package mockup container ---  */

.heading_container2 {
    display: flex; flex-direction: column; justify-content: center; text-align: center;
    margin-top: 50px;
}

 
.package, .package a {
    display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;
    margin-top: 25px;
}

.packSec p {
    justify-content: center; text-align: center;
    font-weight: lighter;
    font-size: 24px;
    padding: 40px 80px 80px 80px;
}
 

#pT h3, #pT2 h3 {
    justify-content: center; text-align: center;
    font-weight: 500;
    font-size: 28px;
    padding: 0 50px 0 50px;
}

#pT2 h3 {
    margin-top: 40px;
}

.packSec img {
    width: 60%; height: auto;
    transition: all .3s ease-out;
    margin: 20px 0 20px 0;
}

.pack-img {
    display: flex;
    justify-content: center;
    margin: 20px auto 20px auto;
}


.packSec img:hover {
    transform: scale(1.1);
    cursor: pointer;
}




/* Contact PAGE#3 */

/* 3.1 --- hero --- */

#heroCon-cont {
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 4.125rem;
}
  
.contText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 70px;
}

.contText h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

.contactCon {
    background-image: url(../images/Quatro-logo.svg);
    
}

/* 3.2 --- map ---  */

#googleMap {
    justify-content: center;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 120px;
    width: 440px;
    height: auto;
    border: 5px solid #000000;
    
}

.mapCon h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    margin-top: 55px;
}


.mapCon p{
    justify-content: center;
    text-align: center;
    font-weight: lighter;
    font-size: 24px;
    margin: 35px 110px 80px 110px;
    
} 

/* 3.3 --- form ---  */

#contactPage {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

#contactPage h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 44px;
    font-weight: 600;
}

#contactPage p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
    font-size: 24px;
    margin: 35px 20px 80px 20px;
}

#contactUs {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#contactUs ul {
    list-style: none;
}

textarea {
    resize: none;
}

#fullN {
    
    width: 370px;
	margin-bottom: 18px;
	font-size: 14px;		
	border: 2px solid #000000;
	padding: 20px 20px;
}

#e-mail {
    width: 370px;
	margin-bottom: 18px;
	font-size: 14px;		
	border: 2px solid #000000;
	padding: 20px 20px;
}

#phoneN {
    width: 370px;
	margin-bottom: 18px;
	font-size: 14px;		
	border: 2px solid #000000;
	padding: 20px 20px;
}

#messageC {
    width: 370px;
	margin-bottom: 18px;
	font-size: 14px;		
	border: 2px solid #000000;
	padding: 20px 20px;
    height: 50px;
}

#fullN:hover {
	border: 2px solid #999999;
}
#e-mail:hover {
	border: 2px solid #999999;
}

#phoneN:hover {
	border: 2px solid #999999;
}

#messageC:hover {
	border: 2px solid #999999;
}

#submitBtnC {
    display: block;
    padding: 9px 20px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Raleway', sans-serif; font-weight: bold; font-size: 14px;
    margin: 20px auto 50px;
}

#submitBtnC:hover {
    background-color: rgb(49, 49, 49);
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 2px #000000);
}





/* --- PAGE 404  #4 --- */

.pageCon {

    min-height: 130vh;
    display: flex;
    background: black;
}

.text p {
    font-family: 'Raleway', sans-serif; font-weight: 300; font-size: 22px;
    color: white;
    position: relative;
    top: 21.5%;
    margin-left: 190px;
}

.pa {
    font-family: 'Kanit', sans-serif; font-weight: 700;
    position: relative;
    top: 18%; left: 130%;
    color: white;
    font-size: 5em;
    text-shadow:  
    0 0 59px #34e, 
    0 0 59px #34e,
    0 0 159px #34e,
    0 0 259px #34e,
    0 0 319px #34e;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% 
    {filter: hue-rotate(0);}
    50%
    {filter: hue-rotate(100deg);}
    100%
    {filter: hue-rotate(0);}
}




/* Media Query Section */
 


@media screen and (max-width:840px) {
    
}

/* this tag is IMPORTANT! */
#mobileNav-con {
    display: none;
}
/*     /\  /\  /\    */

@media screen and (max-width:768px) {
    
    #mobileNav-con {
        display: block;
        position: sticky; top: 0; z-index: 35;
    }

    #mainNav-con {
        display: none;
    }

    #main-nav button {
        width: 20px;
        height: 20px;
        background: url(../images/burger.svg) no-repeat center;
        transition: all .3s ease;
        border: 0;
    }
    
    #main-nav button.expanded {
        transform: rotate(180deg) scale(1.4);
        position: absolute;
        z-index: 3;
    }
    
    #burger-con {
        display: none;
    }
    
    #burger-con.slide-toggle {
        display: block;
        height: 100vh;
        width: 70vw;
        background-color: #333333ca;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        filter: drop-shadow(4px 3px 3px #000000);}
    
    
    #main-nav ul {
        list-style: none;
        padding: 0;
        margin: 80px 0 0 0;
        text-align: center;
    
    }
    
    #main-nav ul li a {
        display: block;
        padding: 10px 0 10px 0;
        text-align: center;
        color: #ffffff;
    }
    
    #main-nav ul li a:hover {
        color: #a0a0a0;
    }
    
    
    #main-nav ul li:last-child {
        margin-bottom: 10px;
    }

    .page1-img2, .page1-img3 {
        display: none;
    }

    .page1-img1 {
        margin: 50px 0px 22px 0px;
    }

    .page1-img4 {
        margin: 50px 0 0 00px;
    }

    .page1-banner h3 {
         letter-spacing: 10px;
        word-spacing: 10px;
        color: white;
    }

    .page1-banner h4 {
        padding: 40px 50px 50px 10px;
        margin-left: 10px;
        letter-spacing: 6px;
        color: white;
        font-size: 30px;
        transition: all .2s ease-in-out;
    }

    .page1-banner h4:hover {
        margin-left:  20px;
        cursor: pointer;
    }

    #fname,#email, #order {
        width: 220px;
    }

    .saleSec .saleCon .box.b-3, .saleSec .saleCon .box.b-2, .saleSec .saleCon .box.b-2 {
        margin-top: 0;
    }

    .saleSec .saleCon .box.b-5, .saleSec .saleCon .box.b-6 {
        margin-top: 30px;
    }

    video {
        width: 80vw; height: auto;
    }

    #aboutCon p {
        padding: 0 20px 0 20px;
    }
    .packSec p {
        padding: 30px 20px 60px 20px;
    }

    .mapCon p{
        margin: 35px 20px 80px 20px;
    } 

    .com2-text p, .com1-text p {
        margin: 30px 20px 30px 20px;
    }

    #canGroup1 {
        padding-bottom: 30px ;
    }
    
}

    /* Hide footer form */
    @media screen and (max-width:620px) {
        #contact-form {
            display: none;
        }
}
